<aside class="main-sidebar sidebar-dark-info elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link navbar-info">
    <img src="../../../assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
    <span class="brand-text font-weight-light"><b>Sales Counter</b></span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="#" routerLink="/dashboard" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>
              Dashboard
              <i class="fas fa-angle-right right"></i>
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-sitemap"></i>
            <p>
              Master
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" routerLink="/master/hsn-master" class="nav-link">
                <i class="fas fa-caret-right nav-icon"></i>
                <p>HSN Master</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" routerLink="/master/category-master" class="nav-link">
                <i class="fas fa-caret-right nav-icon"></i>
                <p>Category Master</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" routerLink="/master/item-master" class="nav-link">
                <i class="fas fa-caret-right nav-icon"></i>
                <p>Item Master</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" routerLink="/master/sale" class="nav-link">
                <i class="fas fa-caret-right nav-icon"></i>
                <p>Sale Master</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-chart-bar"></i>
            <p>
              Report
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" routerLink="/report/date-wise" class="nav-link">
                <i class="fas fa-caret-right nav-icon"></i>
                <p>Date Wise Report</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-cog"></i>
            <p>
              Setting
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" routerLink="/myProfile" class="nav-link">
                <i class="fas fa-caret-right nav-icon"></i>
                <p>My Profile</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" routerLink="/changePassword" class="nav-link">
                <i class="fas fa-caret-right nav-icon"></i>
                <p>Change Password</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a routerLink="/login" class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p>
              Logout
              <i class="fas fa-angle-right right"></i>
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside> 

<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>