<div class="app-body">

  <div class="hold-transition login-page">
      <div class="login-box">
          <div class="login-logo">
            <a href="../../index2.html"><b>Admin</b>LTE</a>
          </div>
          <!-- /.login-logo -->
          <div class="card">
            <div class="card-body login-card-body">
              <p class="login-box-msg">Sign in to start your session</p>
        
              <form action="../../index3.html" method="post">
      
                    <div class="input-group mb-3">
                      <select class="form-control select3" style="width: 100%;">
                          <option value="" selected="selected">Select</option>
                          <option value="ADMIN">ADMIN</option>
                          <option value="EMPLOYEE" disabled>EMPLOYEE</option>
                          <option value="PRO" disabled>PRO</option>
                        </select>
                    </div>  
      
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="login ID">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="password" class="form-control" placeholder="Password">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-lock"></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8">
                  </div>
                  <!-- /.col -->
                  <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                  </div>
                  <!-- /.col -->
                </div>
              </form>
        
            </div>
            <!-- /.login-card-body -->
          </div>
        </div>
  </div>

</div>
