<div class="hold-transition register-page">
  <div class="register-box">
      <div class="register-logo">
        <a href="../../index2.html"><b>Book </b>Appointment</a>
      </div>
    
      <div class="card">
        <div class="card-body register-card-body">
          <p class="login-box-msg">Register a Appointment</p>
    
          <form action="../../index.html" method="post">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Full name">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="tel" class="form-control" placeholder="Contact">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-phone"></span>
                </div>
              </div>
            </div>

            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Place">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-pin"></span>
                </div>
              </div>
            </div>
           
            <div class="row">
            <div class="col-4"></div>
              <!-- /.col -->
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Register</button>
              </div>

              <div class="col-4"></div>
              <!-- /.col -->
            </div>
          </form>
          <a href="#" routerLink="/dashboard" class="text-center">Back to home </a>
        </div>
        <!-- /.form-box -->
      </div><!-- /.card -->
    </div>
</div>

